* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'arial'
}

/* O Header começa a baixo*/

.header-inner-container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: rgb(47, 60, 73);
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px black;
    z-index: 99;
}

.navbar>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo span {
    color: #0084ff;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container {
    display: flex;
    align-items: center;
}

.nav-icon-container img {
    width: 35px;
    cursor: pointer;
    margin-right: 15px;
}

nav ul li {
    margin-right: 1.5rem;
    cursor: pointer;
    color: white;
}

nav ul li:hover {
    transform: translateY(5-p);
    transition: all 0.2;
    color: #0084ff;
}

.menu-button {
    display: none;
}

header {
    background-image: radial-gradient(#fff, #c7c7c7);
}


.header-bottom-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.header-bottom-side-left {
    height: 100%;
    flex-basis: 50%;
}

.header-bottom-side-left h2 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left button {
    background-color: #0084ff;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.5s;
}

.header-bottom-side-left button:houver {
    background-color: rgb(47, 60, 73);
}



.header-bottom-side-right {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom-side-right img {
    width: 115%;
}

/* O Header termina acima */

/*Media Querys abaixo*/

@media (min-width: 800px) {
    .logo {
        font: size 1.2rem;
    }

    .menu-button {
        display: block;
    }

    .header-bottom-side {
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav {
        position: absolute;
        background-color: #2c2c2c;
        width: 100%;
        top: 46px;
        display: none;
    }

    .show-menu nav {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        padding: 0.8rem;
    }

}

/*Main Content*/

main {
    background-color: #ebebeb;
}

.gray-bg {
    background-color: #2c2c2c;
}

.page-inner-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px;
}

.cols {
    display: grid;
    justify-content: space-evenly;
    padding-top: 4rem 1rem;
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

}

.cols-3 img {
    max-width: 100%;
    align-items: center;

}

.cols-4 img {
    max-width: 50%;
}

.cols-4 {
    display: grid;
    /**/
    grid-template-columns: repeat(4, 1fr);
}

.cols>div {
    cursor: pointer;
    transition: all 0.1s;
    /* Adicionada a unidade de tempo "s" para segundos */
}

.cols>*:hover {
    /* Corrigido "houver" para "hover" */
    transform: translateY(-35px);
    /* Ajustado o valor para uma translação mais realista */
}

.section-title {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.subtitle-underline {
    width: 100px;
    height: 5px;
    background-color: #0084ff;
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.product {
    color: #2c2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name {
    font-weight: 600;
    margin-top: 0.4rem;
    color: #2c2c2c;
}

.rate {
    color: #0084ff;
    font-size: 1.3rem;
}

.product-price span {
    font-weight: 600;
    color: #2c2c2c;
}

.exclusive-container{
    color:white;
    flex-direction: row-reverse;
    padding: 5rem 1rem;
}

.exclusive-container img{
    max-width: 30px;
}

/*Media queries */

@media(max-width:800px){
    .section-title{
        font-size: 1rem;
    }

    .cols-3{
        grid-template-columns: repeat(1, 1fr);
    }

    .cols-4{
        grid-template-columns: repeat(2, 1fr);
    }

    .product-name, .product-price, .rate{
        max-height: 1rem;
        overflow: hidden;
        font-size: 0.8rem;
    }

    .exclusive-container{
        flex-direction: column-reverse;
    }

    .exclusive-container img{
        margin-bottom: 4rem;
    }
}

/*Main Content*/

/*comentarios é testimonials*/

.comentarios{
    display: flex;
    padding: 4rem 1rem;
    justify-content: space-evenly;
}

/*coment é testimonail*/

.coment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0 0 15px #afafaf;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}

.coment:houver{
    transform: translateY(-5px);
}

.coment p{
    margin: 5px 0;
}

.coment p:first-child{
    font-weight: bold;
    font-size: 5rem;
    color:#0084ff;
    margin-top: 3rem;
    line-height: 2rem;
}

.coment p:last-child{
    font-weight: bold;
}


/*Media queries */

@media (max-width: 800px){
    .comentarios{
        flex-direction: column;
    }

    .coment{
        margin-bottom:1.2rem;
    }
}


/*Footer */

.footer-content{
    display: flex;
    align-items: center;
    color:white;
    padding: 4rem 1rem;
    gap: 2rem;
}

.baixar>*{
    margin: 1rem 0;

}

.baixar>p:first-child{
    margin: 1rem 0;
    color:white;

}

.baixar>div{
    display: flex;
}

.baixar>div img{
    width: 180px;
}

.logo-footer{
    text-align: center;    
}

.links-footer h3{
    color:white;
    margin-bottom: 0.8rem;
}

.links-footer ul{
    list-style: none;

}




.links-footer ul li{
    margin-bottom: 0.5rem;
    cursor:pointer;
}

.copyright{
    color:white;
    padding: 2rem 0;
    text-align: center;
}


/*Media Queries*/

@media (max-width:800px){
    .footer-content{
        display:inline;
        font-size:0.8rem;
    }
    .footer-content>div{
        padding: 1rem;
    }
    .baixar>div{
        display: inline;
    }
    .baixar>div img{
        width: 120px;
    }
    .copyright{
        font-size: 0.8rem;
    }
    

}


/*Footer */